html {
  font-size: 100%;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body,
button,
input,
select,
textarea {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  line-height: 24px;
  color: var(--color-body);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
