:root {
  /* Colors */
  --color-body: #cac8d9;
  --color-body--alt: #576086;
  --color-body--highlight: #2a3044;
  --color-body--overlay: #ff0062;
  --color-background: #000;
  --color-saturated: #2a3044;
  --color-accent: rgba(255, 255, 0, 1);
  --color-primary: linear-gradient(40deg, #e608ff, #332abd);
  --color-alert: #ff0062;
  --color-success: #4ED1B8;

  /* Fonts */
  --font-family: "Neue Machina", -apple-system, system-ui, "Helvetica Neue", Helvetica, "Segoe UI", Roboto, "Apple Color Emoji", "Segoe UI Emoji", sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /* Spacing */
  --spacing: 1.25rem;

  /* Layout */
  --border-radius: 4px;
}
